@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 'white';
}

.signout {
  background-color: rgb(255, 188, 218);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.signin {
  background-color: rgb(205, 255, 214);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.textcont {
  padding: 10px;
}

