@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 'white';
}

.signout {
  background-color: rgb(255, 188, 218);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.signin {
  background-color: rgb(205, 255, 214);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.textcont {
  padding: 10px;
}


.form-container {
  max-width: 400px;
  margin: 20px auto; /* Added margin to the top */
  padding: 20px; /* Added padding for a cleaner look */
  border: 1px solid #ddd; /* Added a border for a subtle separation */
  border-radius: 5px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Added border color */
  border-radius: 3px; /* Added border radius for a softer look */
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}